.wrapper {
    --content-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: var(--content-width);
    padding: var(--padding-vertical-content) var(--padding-horizontal-content);
    gap: 1rem;
    overflow-anchor: auto;
    overflow-y: auto;
    min-height: 100%;
}
