.wrapper {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  height: 100%;
}

.header {
  height: var(--header-height);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  background-color: var(--color-gray-100);
  padding: 8px var(--padding-horizontal-content);
  border-bottom: 1px solid var(--color-gray-500);
}

.main {
  flex: 1;
  overflow-y: scroll;
}

.footer {
  width: 100%;
  height: var(--footer-height);
  background-color: var(--color-gray-100);
  padding: var(--padding-vertical-content) var(--padding-horizontal-content);
  border-top: 1px solid var(--color-gray-500);
}
