.button {
  font-size: 1.125rem;
  line-height: 1.25;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--color-primary);
  cursor: pointer;

  width: fit-content;
  min-width: 200px;

  padding: 8px 24px;
  border: 1px solid var(--color-secondary);
  border-radius: var(--border-radius);
}

.button:disabled {
  cursor: not-allowed;
  opacity: var(--opacity-disabled);
}

@media (hover: hover) and (prefers-reduced-motion: no-preference) {
  button:hover,
  button:focus {
    outline: 2px solid var(--color-white);
    outline-offset: -5px;
  }
}
