.date {
  align-self: center;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25;
  color: var(--color-black);
}

@media (min-width: 34.375rem) {
  .date {
    font-size: 1rem;
    line-height: 1.5;
  }
}
