.group-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;

}

.date {
    align-self: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}
